button{
    outline: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}

@mixin address {
    .address{
        margin-top: 15px;
        &__item{
            padding-left: 25px;
            position: relative;
            color: rgb(36, 36, 36);
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;
            line-height: 20px;
            &:not(:last-child){
                padding-bottom: 15px;
                &:after{
                    position: absolute;
                    content: "";
                    border-right: 2px dashed #e0e2e4;
                    height: calc(100% - 20px);
                    width: 1px;
                    left: 7px;
                    bottom: 0
                }
            }
            
            &::before{
                position: absolute;
                content: '';
                border-radius: 8px;
                border: 3px solid rgb(185, 193, 200);
                height: 16px;
                width: 16px;
                left: 0;
                top: 2px;
                background-color: #fff;
            }
            &.active{
                &::before{
                    border: 3px solid rgb(51, 51, 51);
                } 
            }
        }
    }
}
@mixin schedule {
    .schedule{
        margin-top: 17px;
        &__item{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin-bottom: 15px;
        }
        &__label{
            color: rgb(136, 150, 161);
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0px;
            margin-bottom: 2px;
        }
        &__value{
            color: rgb(36, 36, 36);
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;
            line-height: 20px;
            &.active{
                font-weight: 600;
                color: #00a1e0;
            }
        }
    }
}
@mixin utilities {
    .utilities{
        display: flex;
        align-items: center;
        justify-content: center;
        &__item{
            text-align: center;
            flex: 1; 
            display: flex;
            flex-direction: column;
        }
        &__value{
            color: rgb(36, 36, 36);
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 0px;
            text-align: center;
        }
        &__label{
            color: rgb(136, 150, 161);
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0px;
            text-align: center;
        }
    }
}
@mixin btn_blue {
    .btn_blue{
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 20px;
        text-align: center;
        background: rgb(0, 161, 224);
        border-radius: 4px;
        padding: 10px;
        
        &:hover{
            opacity: 0.8;
        }
    }
}
@mixin btn_grey {
    .btn_grey{
        color: rgb(51, 51, 51);
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0px;
        line-height: 20px;
        text-align: center;
        background: rgb(242, 242, 242);
        border-radius: 4px;
        padding: 10px;
        &:hover{
            opacity: 0.8;
        }
    }
}
@mixin scrollbar {
    &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
    }
    /*add a shadow to the scrollbar here*/
    &::-webkit-scrollbar-track {
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    /*this is the little scrolly dealio in the bar*/
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: #dbdbdb;
        outline: 1px solid #dbdbdb;
        height: 3px;
    }
    /*nobody needs this little scrollbar corner, I mean really, get rid of it haha*/
    &::-webkit-scrollbar-corner {
        display: none;
        height: 0px;
        width: 0px;
    }
}
.maket-place{
    &__item{
        border-radius: 4px;
        border: 1px solid rgb(224, 226, 228);
        margin-bottom: 30px;
    }
    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        .name{
            color: rgb(36, 36, 36);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
        }
        .date{
            color: rgb(136, 150, 161);
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;
            text-align: right;
            &.active{
                color: rgb(244, 9, 9);
            }
        }
    }
    &__body{
        border: 1px solid rgb(224, 226, 228);
        border-left: none;
        border-right: none;
        padding: 15px;
    }
    &__foot{
        padding: 8px 28px;
        text-align: center;
        .link{
            color: rgb(0, 161, 224);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            line-height: 20px;
            display: block;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            padding-top: 6px;
            padding-bottom: 6px;
            &:hover{
                background: rgb(214, 243, 255);
            }
        }
    }
    @include utilities;
    @include schedule;
    @include address;
}



.bidding-detail{
    @include address;
    @include schedule;
    @include utilities;
    @include btn_blue;
    display: flex;
    min-height: calc(100vh - 120px);
    .left{
        width: 30%;
        border-right: 1px solid #dee0e1;
    }
    .right{
        width: 70%;
        .heading{
            color: rgb(36, 36, 36);
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0px;
            margin-bottom: 15px;
            margin-top: 24px;
        }
    }
    &__info{
        padding: 24px;
        border-bottom: 1px solid #dee0e1;
        .name{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            color: rgb(36, 36, 36);
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0px;
            margin-bottom: 20px;
            .date{
                color: rgb(136, 150, 161);
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0px;
                text-align: right;
            }
        }
        .avatar{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .img{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                overflow: hidden;
                height: 72px;
                width: 72px;
                margin: 0;
                img{
                    width: 100%;
                }
            }
            .detail{
                flex: 1;
                padding-left: 15px;
            }
            .detail-name{
                color: rgb(36, 36, 36);
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0px;
            }
            .addr{
                display: flex;
                align-items: center;
                &-icon{}
                &-name{
                    padding-left: 20px;
                    color: rgb(36, 36, 36);
                    font-size: 14px;
                    font-weight: normal;
                    letter-spacing: 0px;
                }
            }
        }
    }
    &__address{
        padding: 15px 24px;
        .heading{
            color: rgb(36, 36, 36);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            margin-bottom:10px;
        }
        .map{
            margin-top: 15px;
            img{
                width: 100%;
                border-radius: 5px;
            }
        }
        .btn_blue{
            display: block;
            margin-top: 30px;
        }
    }
}


.modal{
    .modal-body{
        padding: 24px;
    }
    .modal-dialog{
        height: 90%;
        display: flex;
        align-items: center;
    }
    .modal-content {
        background: rgb(255, 255, 255);
        border-radius: 4px;
        overflow: hidden;
    }
    .modal-title{
        font-family: 'Open Sans', sans-serif;
    }
    .close{
        max-width: 13px;
        img{
            width: 100%;
        }
    }
    &__bidding{
        @include btn_grey;
        .modal-header{
            padding: 22px 24px;
        }
        .modal-body{
            padding-top: 20px;
        }
        .modal-title{
            color: rgb(51, 51, 51);
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0px;
        }
        .label{
            color: rgb(147, 160, 171);
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0px;
            margin-bottom: 5px;
        }
        .custom-checkbox{
            margin-bottom: 7px;
        }
        .custom-control-label{
            top: 0;
            color: rgb(58, 58, 58);
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;
            margin-bottom: 0;
            &::before{
               
                border-radius: 4px;
                height: 16px;
                width: 16px;
                top: 3px;
            }
        }
        .custom-control-input{
            background: rgb(0, 161, 224);
            border-radius: 4px;
            height: 16px;
            width: 16px;
            &:checked~.custom-control-label:before{
                background: rgb(0, 161, 224);
                border-radius: 4px;
                height: 16px;
                width: 16px;
            }
            &:checked~.custom-control-label::after{
                top: 3px;
                font-size: 0;
                left: 0px;
            }
        }
        .form-group{
            margin-bottom: 16px;
        }
        .form-control{
            background: rgb(255, 255, 255);
            border-radius: 4px;
            border: 1px solid rgb(224, 226, 228);
            min-height: 40px;
            color: rgb(36, 36, 36);
            padding-left: 12px;
            padding-right: 12px;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgb(185, 193, 200);
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0px;
              }
            &::-moz-placeholder { /* Firefox 19+ */
                color: rgb(185, 193, 200);
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0px;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: rgb(185, 193, 200);
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0px;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: rgb(185, 193, 200);
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0px;
            }
        }
        textarea{
            resize: none;
            height: 80px;
        }    
        .btn_cancel{
            color: rgb(51, 51, 51);
            font-weight: 600;
            background-color: transparent;
            border: none;
            margin-right: 20px;
        }
        .btn_grey{
            margin-right: auto;
        }
        
    }
    &__room-detail{
        @include utilities;
        @media (min-width: 576px){
            .modal-dialog {
                max-width: 575px;
                margin: 1.75rem auto;
            }
        }
        .modal-footer{
            padding: 30px 24px;
        }
        
        .modal-header{
            padding: 24px;
            height: 250px;
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            border-radius: 0;
            border:none;
            &::before{
                position: absolute;
                content: '';
                background: rgba(0, 0, 0, 0.65);
                width: 100%;
                height: 100%;
                z-index: 1;
                left: 0;
                top: 0;
            }
        }
        .modal-body{
            max-height: 370px;
            overflow-y: auto;
            @include scrollbar;
        }
        .modal-footer{

        }
        .yt-player{
            opacity: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            &.show{
                opacity: 1;
                z-index: 1;
            }
        }
        .utilities{
            z-index: 1;
            position: absolute;
            bottom: 15px;
            &__item{
                min-width: 100px;
                align-items: flex-start;
            }
            &__value{
                color: rgb(255, 255, 255);
                font-size: 28px;
                font-weight: 300;
            }
            &__label{
                color: rgba(255, 255, 255, 0.8);
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 0px;
            }
        }
        .name{
            z-index: 1;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0px;
            line-height: normal;
        }
        .btn_play{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            cursor: pointer;
            background: rgba(255, 255, 255, 0.8);
            height: 88px;
            width: 88px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
        }
        .btn_cancel{
            color: rgb(51, 51, 51);
            font-weight: 600;
            background-color: transparent;
            border: none;
            margin-right: 20px;
        }
    }
    &__quote-success{
        @media (min-width: 576px){
            .modal-dialog {
                max-width: 400px;
                margin: 1.75rem auto;
            }
        }
        .modal-body{
            padding: 30px;
            padding-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        .heading{
            color: rgb(36, 36, 36);
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0px;
            text-align: center;
            margin-bottom: 10px;
        }
        .sub{
            color: rgb(36, 36, 36);
            font-size: 14px;
            font-weight: normal;
            letter-spacing: 0px;
            text-align: center;
            b{
                color: #242424;
                font-weight: bold;
            }
        }
        .img{
            margin: 0 auto;
            width: 100%;
            max-width: 54px;
            margin-top: 40px;
            margin-bottom: 15px;
            img{
                width: 100%;
            }
        }
        .btn_blue{
            display: inline-block;
            margin-top: 20px;
        }
    }
    .room-items{
        &__wrap{
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
        &__heading{
            color: rgb(40, 40, 40);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0px;
            margin-bottom: 5px;
        }
        &__item{
            
            .img{
                position: relative;
                border-radius: 4px;
                border:1px solid #ddd;
                margin-bottom: 5px;
                max-height: 75px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                }
            }
            .quantity{
                position: absolute;
                bottom: 0;
                left: 0;
                color: #333333;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0px;
                line-height: 20px;
                background: #b9c1c8;
                border-radius: 4px 12px 0 0;
                border: 2px solid white;
                padding: 3px 8px 4px 8px;
                margin-left: -2px;
                margin-bottom: -2px;
            }
            .name{
                color: rgb(52, 52, 52);
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0px;
                margin-bottom: 4px;
            }
            .number{
                color: rgb(52, 52, 52);
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0px;
                line-height: 20px;
            }
        }
    }
}